$color-green:#81d8d0;
$color-black: #333333;
.event-container {
  display: flex;
  width:100%;
  overflow: hidden;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;

  &-header{
    flex:1;
  }
  &-right {
    flex:5;
  }
  .event-field {
    font-size:1rem;
    display: flex;
    justify-content: flex-end;


    padding: .5em;
    &-key {
      font-weight: 900;
      padding: .5em 1em .5em 0;
      flex: 1;
    }
    &-value {
      padding: .5em 1em .5em 0;
      flex: 5;

    }

  }
  .event-separator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid $color-green;
    padding-bottom: 1.5rem;
  }

  .event-title {
    padding: 8px;
    font-size: 2.5vw;
    text-align: center;
  }

  .event-select {
    .form-control {
      width: 20%;
    }
  }

}
.event-participant{
  color: $color-black;
  font-size:1rem;
  padding: .5em;
  font-weight: 900;
  &-table{
    margin: .5em;
    width: 50%;
    th, td {
      font-size: 1rem;
    }
  }
}
.event-switch{
  margin-top:1.5rem;
  margin-left:26rem;
}