$color-black: #333333;
$color-grey: #ddd;
$color-darkgrey: #5c5c5c;
$color-green: rgba(45,182,124,.85);
$color-white: white;

.table-name{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.event-table {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: $color-black;

   th,td {
      width: 35%;
      padding: 8px;
      font-size:1.5rem;
      text-align: left;
      color: $color-darkgrey;
    }

  tr {
    border-bottom: 1px solid $color-grey;

    &:hover {
      background-color: $color-grey;

    }
  }
  th {
    line-height:50px;
    background-color: $color-green;
    color: $color-white;
  }

  tbody {
    overflow: auto;
  }
}

.event-list-page-create-event{
  span {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size:2rem;
  }
  width: 100%;
  padding:1rem;
}

.event-add-icon{
  margin-left: auto;
  width: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}

.event-scroll {
  margin-top: 20px; 
  height: 80vh; 
  overflow: auto; 
}

.event-table-header{
  & > span{
    text-align: left;
    font-size:2rem;
    padding-left: 1.5rem;
    display: inline-block;
    background-color: $color-green;
    color: white;
    width: 33.3%;
  }
}