$color-black: #0000FF;
$color-grey: #ddd;
$color-green: #4CAF50;
$color-white: white;


.table-name{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.event-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: $color-black


   th ,td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid $color-grey;
    }

  tr {
    &:hover {
      background-color: $color-grey;

    }
  }
  th {
    background-color: $color-green;
    color: $color-white;
  }
  }

.event-list-page{
  display: flex;
}

.event-list-page-header .event-header {
  height:100vh;
  box-shadow: 8px 0 10px -6px black;
}

.event-list-page-header .event-title{
  font-size: 2.5vw;
  text-align: center;
}

.event-list-page-create-event{
  width: 100%;
  padding:1rem;
}

.event-add-icon{
  margin-left: auto;
  width: 4rem;
  display: block;
  margin-bottom: 0.5rem;
}