$color-black: #0000FF;
$color-grey: #ddd;
$color-green: #4CAF50;
$color-white: white;


.table-name{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.event-table {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: $color-black


   th,td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid $color-grey;
    }

  tr {
    &:hover {
      background-color: $color-grey;

    }
  }
  th {
    line-height:50px;
    background-color: $color-green;
    color: $color-white;
  }
  }

.event-list-page-create-event{
  span {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-size:2rem;
  }
  width: 100%;
  padding:1rem;
}

.event-add-icon{
  margin-left: auto;
  width: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}