@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

option{
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.errorBorder{
  border-color: indianred;
}

.okayBorder{
  border-color: green;
}

.event-container{
  display: flex;
}

.event-container .event-header{
  height:100vh;
  box-shadow: 8px 0 10px -6px black;
}

.event-container .event-title{
  font-size: 2.5vw;
  text-align: center;
}

.event-form{
  width: 100%;
}

.event-form-container{
  flex-direction: row;
  width: 100%;
  padding: 1rem;
}

.create-event-form-search{
  display:flex;
}

.form-group{
  margin-bottom: 1rem;
}

.event-form-description{
  width: 60%;
  margin-left: auto;
}

label{
  display: inline-block;
  margin-bottom: .5rem;
}

.linkButton{
  border: 1px solid #61dafb;
  padding: 0.5rem;
  border-radius: .25rem;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 0.5rem;
}

#event-form-submit-btn{
  font-size: 1rem;
  color: black;
  background-color: transparent;
  border-color: #61dafb;
  padding: 0.5rem;
  border-radius: .25rem;
}

#event-form-submit-btn:hover, .linkButton:hover{
  cursor:pointer;
  background-color: white;
  color: #61dafb;
}

#EventInviteeList{
  overflow: auto;
  resize: vertical;
}

.event-Date-Time{
  display: flex;
  justify-content: space-between;
}

.icons > a > img{
  display:inline;
  vertical-align: middle;
}

.back-icon{
  width: 3rem;  
}

.form-header{
  text-align: center;
}